<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://use.fontawesome.com/3516a43fc2.js"></script>
<script src="https://d3js.org/d3.v3.min.js" language="JavaScript"></script>
<script src="/build/profile.min.js" language="JavaScript"></script>
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRlGD0UgzbxGQWBX7uw_ycL9RjSrCmZjk&callback=init" async defer></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

</body>

</html>