body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%; 
}

.masthead {  /* credit for this part startbootstrap grayscale*/
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url("/images/naren.jpeg") no-repeat top center scroll;
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.masthead .intro-body {
    display: table-cell;
    vertical-align: middle; 
}
.masthead .intro-body h1.brand-heading {
    position: relative;
    top: 250px;
    right: 20px;
    font-size: 36px;
    color: whitesmoke;
    overflow: hidden;
}
.masthead .intro-body .intro-text {
    position: relative;
    top: 125px;
    right: 20px;
    font-size: 18px;
    color: whitesmoke;
    overflow: hidden;
}
@media (min-width: 768px) {
    .masthead {
        height: 100%;
        padding: 0; 
    }
    .masthead .intro-body h1.brand-heading {
        font-size: 36px; 
    }
    .masthead .intro-body .intro-text {
        font-size: 22px;
    } 
}

@media (max-width: 768px) {
    .masthead .intro-body h1.brand-heading { 
        color: black;
        font-size: 30px; 
    }
    .masthead .intro-body .intro-text {
        color: black;
        font-size: 22px;
    } 
}

div.col-lg-8 h1,div.col-lg-8 p,a>i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    text-align: center;
}

.btn-circle {
    position: relative;
    top: -10px;
    right: 20px;
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -o-border-radius: 100% !important;
    background: transparent; }
.btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1); 
}/* credit for this part startbootstrap grayscale*/



/*
#bg-video{
    position: relative;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    opacity: 0.7; 
}
*/

/*
#custom-video{
    width: 100%;
    height: 100%;
}
*/

/*
#tx-video p#main-text{
    position: absolute;
    z-index: 8;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 36px;
    color: white;

}

#tx-video p#small{
    position: absolute;
    z-index: 8;
    top: 52%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: white;

}
*/


/*
#profile-img{
position: absolute;
top: 0;
left: 0;
width: 100%;
min-height: 720px;
background-color: rgba(200,0,0,0.3);
z-index: 8;
}
*/

/*
#profile-img img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(180deg);
    z-index: 8;
    width: 150px;
    height: 150px;
}
*/

nav.fixed-navbar{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 100;
    margin: 0px;
}

nav.fixed-navbar.effects:after{
    content: "";
    display: inline-block;
    z-index: 10;
    vertical-align:bottom;
    width: 110px;
    height: 110px;
    border-spacing: 40px;
    -webkit-border-spacing: 40px;
    -moz-border-spacing: 40px;
    -o-border-spacing: 40px;
    background:rgba(96,112,119,0.9) url("/images/naren.jpeg") center / cover;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 40px;
    margin-left: 50%;
    -webkit-transform: translate(-50%,-20%) rotate(180deg);
    -moz-transform: translate(-50%,-20%) rotate(180deg);
    -o-transform: translate(-50%,-20%) rotate(180deg);
    transform: translate(-50%,-20%) rotate(180deg);
    border:5px solid rgba(96,112,119,0.9);   
}

.content{
    margin-top: -6px;
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,0.9);
    overflow: hidden;
}
.container{
    width: auto;   
}

#aboutMe{
    margin: 40px;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

#indent{
    text-indent: 30px;
    color: dimgrey;
    font-size: 16px;
}

#contact{
    margin: 0px;
    width: auto;
    height: 800px;
    background: rgba(96,112,119,0.9);
    overflow: hidden;
}

div#number p{
    text-align: center;
    font-size: 16px;
    position: relative;
    bottom: -100px;
    color: white;
}

label{
    position: absolute;
    top: 5px;
    left: 20px;

}
#form{
    margin-top: 80px;
}

div#heading{
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    color: blue;
}

#download{
    margin-top: 0;
    width: 100%;
    height: 400px;
    background: rgba(0,0,0,0.9);
}

div.git > p{
    position: relative;
    text-align: center;
    font-size: 36px;
    color: whitesmoke;
    top: 80px;
}

.git > p > a{
    font-size: 24px;
    color: blue;
}

.git > p#source{
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    font-size: 24px;
    width: 200px;
    border: 1px solid blue;
    padding: 5px;

}

#myCarousel{
    height: 400px;
    text-align: center;

}

.item{
    width: auto;
    height: 400px;
}

.carousel-caption> h3{
    position: relative;
}

.carousel-caption> p{
    position: relative;
}

/*
.carousel-caption > span >a{
padding: 5px;
}
*/
/*
div.item>h3{
color: white;
position: relative;
top: 25%;
}
*/

div.item>span{
    color: white;
    position: relative;
    font-size: 20px;
    top: 30%;
}

/*
.alert{
margin-top: -20px;
width: 700px;
position: relative;
left: 25%;
transform: translate(-50%,10%);
}


#redirect{
margin-top: 20px;
position: relative;
left: 12.5%;
transform: translate(50%,-50%);

}

#msg{
margin-top: 80px;
position: relative;
left:100px;

}
*/

/*
.hide{
display: none;
}
*/

#map{
    width: 100%;
    height: 300px;
    background-color: yellow;

}

/*
#credits{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: greenyellow;
    font-size: 6px;
}
*/

/*
#resume{
display: none;
}
*/

#aboutMe > p{
    text-align: justify;
}

li{
    display: inline;
    padding: 10px;
    z-index: 10;

}
nav ul.left{
    position: absolute;
    top: 20px;
    width: 100%;
    list-style-type: none;
}

nav ul.right{
    position: absolute;
    margin-right: 60px;
    z-index: 100;
    top: 10px;
    right: 0px;
    list-style-type: none;

}
nav ul.right li{
    float: right;
    margin-right: 20px;

}
#navbar-custom > ul.right > li.social-media{
    display: none;
}

.liquidFillGaugeText { 
    font-family: Helvetica sans-serif; 
    font-weight: bold; 
} 

#skills{
    background: rgba(126,195,208,0.7);
}
#charts{
    margin-left:90px;
}

svg{
    position: relative;
    margin:30px 0; 
}

#skill-text{
    font-size: 30px;
    color: white;
}

#skill-subText{
    font-size: 20px;
}

.relative-svg{
    position: absolute;
    left:0px;
    transform: translate(10%,50%);
    -webkit-transform: translate(10%,50%);
    -moz-transform: translate(10%,50%);
    -o-transform: translate(10%,50%);
}

footer ul.left{
    position: relative;
    top: 20px;
    list-style-type: none;
}

footer ul.right{
    position: relative;
    margin-right: 60px;
    top: -20px;
    right: 0px;
    list-style-type: none;

}


footer ul.right li{
    float: right;
}

footer ul.left li#likes{
    border: 1px solid blue;
}

footer ul.right li{
    color: red;
}

a{
    color: yellow;
    font-size: 18px;
}
a:hover{
    text-decoration: none;
    color: white;
}

a.active{
    background-color: rgba(136,144,22,0.5);
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

a:active{
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}


#navbar-custom > ul.left > li.icon{
    display: none;
}

@media only screen and (max-width:750px){
    footer ul.right{
        position: relative;
        top: 20px;
        float: right;

    }
}

@media only screen and (max-width:768px){

/*
    div#tx-video > p#main-text{
        top: 18%;
        text-align: center;
        font-size: 20px;
    }

    div#tx-video > p#small{
        top: 21%;
        text-align: center;
        font-size: 16px;
    }
*/

    #navbar-custom{
        background: rgba(0,2,0,0.9);
    }

    #navbar-custom > ul.left > li:not(:first-child){
        display: none;
    }

    #navbar-custom > ul.right >li{
        display: none;
    }

    #navbar-custom > ul.left > li.icon{
        display: block;
        float: right;
        margin-right: 20px;
        margin-top: -10px;
    }

/*
    #profile-img img{
        width: 100px;
        height: 100px;
        top: 30%;
    }

    #bg-video{
        width: 100%;
        height: 100%;
        background-size: cover;
    }
*/



}
/*
@media only screen and (min-width:568px) and (max-width:737px){
    div#tx-video > p#main-text{
        position: absolute;
        top: 30%;
        text-align: center;
        transform: translate(-50%,400%);
        font-size: 22px;
    }

    div#tx-video > p#small{
        position: absolute;
        top: 40%;
        transform: translate(-50%,240%);
        text-align: center;
        font-size: 19px;
    }

    #profile-img > img{
        width: 125px;
        height: 125px;
        top: 28%;
        transform: translate(-50%,10%);
    }
}
*/
/*
@media only screen and (max-width:1024px){
    div#tx-video > p#main-text{
        top: 29%;
        text-align: center;
        font-size: 22px;
    }

    div#tx-video > p#small{
        top: 33%;
        text-align: center;
        font-size: 19px;
    }

    #profile-img img{
        width: 125px;
        height: 125px;
        top: 20%;
    }

    #bg-video{
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}
*/

@media only screen and (max-width:768px){

    #navbar-custom.responsive-navbar > ul.left > li:not(:last-child){
        display: block;
        float: none;
    }

    #navbar-custom.responsive-navbar > ul.left > li.icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    #navbar-custom.responsive-navbar > ul.right >li{
        position: relative;
        display: block;
        float: none;
        top: 10px;
    }

    #navbar-custom.responsive-navbar{
        height: 240px;
        background: rgba(0,2,0,0.9);
    }


}

@media only screen and (max-width:850px){
    #form{
        margin-top: 50px;
    }

}

@media only screen and (max-width:600px){

    #form{
        margin-top: 50px;
    }

}
/*extra small devices*/
@media only screen and (max-width : 480px) {

    div#number{
        position: relative;
        bottom: 30px;
    }

    footer ul.left li#likes{
        display: none;
    }

    footer ul.right{
        position: relative;
        top: 20px;
        left: -45px;
        float: right;

    }

    #aboutMe{
        margin: 40px;
        padding: 20px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    }
    .content{
        overflow-y: scroll;
    }

}

/*small devices*/
@media only screen and (min-width:310px) and (max-width : 650px) {


    div#number{
        position: relative;
        bottom: 30px;
    }

/*
    div#tx-video  p#main-text{
        top: 17%;
        text-align: center;
        font-size: 12px;
        color: white;
    }
    div#tx-video  p#small{
        top: 21%;
        text-align: center;
        font-size: 10px;
        color: white;
    }

    #profile-img img{
        width: 100px;
        height: 100px;
        top: 32%;
    }

    #bg-video{
        width: 100%;
        height: 100%;
        background-size: cover;
    }
*/

}

@media only screen and (max-width:325px){
    ul.right{
        margin-left: 180px;
    }
    #navbar-custom.responsive-navbar{
        height: 260px;
    }
}

@media only screen and (min-width:651px) and (max-width : 700px){
    div#number{
        position: relative;
        bottom: 30px;
    }
}

@media only screen and (min-width:651px) and (max-width : 750px) {

}

/*medium devices*/
@media only screen and (min-width:751px) and (max-width : 992px) {
    div#number{
        position: relative;
        bottom: 60px;
    }
}

@media only screen and (min-width:993px) and (max-width : 1100px) {
    div#number{
        position: relative;
        bottom: 60px;
    }
}








